{{#each this}}
    {{#if (contains this "c_parentTopics")}}
        <div class="bc-link">
            <a class="airbnb-link" href={{this.uid}}>{{this.name}}</a>
            <img src="/images/right-arrow.svg" width="11.31px" height="11.31px"> 
        </div> 
        {{>getBreadCrumbs this.c_parentTopics}}
    {{else}}
        <div class="bc-link">
            <a class="airbnb-link" href="https://www.airbnb.com/help/home">{{this.name}}</a>
            <img src="/images/right-arrow.svg" width="11.31px" height="11.31px"> 
        </div>   
    {{/if}}
{{/each}}