<div class="topnav p-5 border">

    {{!-- <div class="flex flex-wrap p-5 border-b-2 border-gray-200 justify-between "> --}}
        <div class="flex flex-col gap-x-6 gap-y-5 md:items-center md:flex-row justify-between">
            
            <div class="flex flex-col gap-x-5 gap-y-5 md:flex-row">
                <div class="flex justify-between items-center">
                    <a class="airbnb-link flex space-x-5" href="/">
                        <img src="/images/logo.png" height="32" width="32" class="md:flex">
                        <div class="text-xl font-bold text-airbnb-black cursor-pointer">
                            Help Center
                        </div>
                    </a>
                    <div class="btn md:hidden">Menu</div> 
                </div>
                 

                <div class="search_form">
                    <img src="/images/icon-search.svg" width="18px" height="18px">
                </div>
            </div>
        
            <div class="btn hidden md:block lg:hidden">Menu</div>
            <div class="hidden lg:flex grid gap-x-10 items-center">
                <a class="airbnb-link headerLink text-airbnb-black" href="#">
                    <img src="/images/language.svg" width="13px" height="13px">
                    English
                </a>
                <a class="airbnb-link headerLink text-airbnb-black" href="#">
                   $ USD
                </a>
                <a class="airbnb-link headerLink text-airbnb-black" href="#">
                    Sign up
                </a>
                <a class="airbnb-link headerLink text-airbnb-black" href="#">
                    Log in
                </a>
            </div>
        
        </div>

        

        {{!-- <div class="hidden md:flex grid gap-x-10 items-center">
            <a class="airbnb-link" href="#" class="headerLink hover:underline ">English</a>
            <a class="airbnb-link" href="#" class="headerLink hover:underline ">USD</a>
            <a class="airbnb-link" href="#" class="headerLink hover:underline ">Sign Up</a>
            <a class="airbnb-link" href="#" class="headerLink hover:underline ">Login</a>
        </div> --}}
    </div>

    {{!-- <div class="hidden md:border-b-2 border-gray-200"></div> --}}

</div>
