<div class="border rounded-lg px-10 py-5 flex justify-between">
    <div class="grid gap-y-2">
        <img class="block lg:hidden" src="/images/ready-to-host.svg" height="32px" width="32px">
        <div class="text-2xl">Ready to start hosting?</div>
        <div class="text-airbnb-gray">
            Take the next step towards earning extra money with your home.
        </div>
        <div class="flex items-center gap-x-2">
            <span class="font-semibold">
                Find out more
            </span>
            <span>
                <img src="/images/right-arrow.svg" height="14" width="14">
            </span>
        </div>
    </div>
    <div>
        <img class="hidden lg:block" src="/images/readytohost.png" width="238px" height="185px">
    </div>
</div>