---
{
    "stream": {
        "$id": "sample-stream",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "shortDescription",
            "c_helpInstructions",
            "c_helpTopic", 
            "slug"
        ], 
        "filter" : {
            "savedFilterIds": [
                "704861046"
            ]
        }
    },
    "urlFormat": "{{uid}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}} </title>
        {{!-- {{>schema}} --}}
        <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png"/>
    </head>
    <body>      
            <div class=""> </div>
            <div class="w-full">
                {{>nav}}
                <div class="centered-container pt-4">
                    <div class="grid grid-cols-1 md:grid-cols-3 auto-cols-min">
                        <div class="flex font-semibold underline gap-x-2 py-5 md:hidden">
                            <img src="images/left-arrow.svg" width="11px" height="11px"><a href="https://www.airbnb.com/help/topic/1586/rules">Rules</a>
                        </div>
                        <div class="md:col-span-1 font-semibold">
                            <ol class="hidden md:block md:space-y-3">
                                <li>About Airbnb</li>
                                <li>Your account</li>
                                <li>Safety</li>
                                <li>Terms and policies</li>
                                <li>Terms of service</li>
                                <li>Our community policies</li>
                                <li>Payments Terms of Service</li>
                                <li>Privacy Policy</li>
                                <li>Privacy policy Supplements</li>
                                <li>Member policies and standards</li>
                                <li>Stay terms and policies</li>
                                <li>Airbnb Expereinces terms and policies</li>
                                <li>Other terms and policies</li>
                                <li>Legal resources </li>
                                <li>Money Transmission Licensce Disclosures</li>                                                                                                                                                              
                            </ol>
                        </div> 
                        <div class="md:col-span-2 grid gap-y-3">
                            <h1 class=""> {{ shortDescription}} </h1>
                            <div class="section space-y-5"> {{ convertRTFToHTML c_helpInstructions}} </div>

                            <div class="section">
                                {{>help}}
                            </div>

                            <div class="section">
                                {{>relatedArticles}}
                            </div>

                            <div class="section">
                                {{>readyToHost}}
                            </div>
                        </div>
                    </div>

                    <div class="section w-full border-t-2 font-semibold text-airbnb-teal py-16">
                        <a href="https://www.airbnb.com/help/feedback">Give us feedback</a>
                    </div>


         
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>