@tailwind base;
@tailwind components;

/* Answers Styling */
.search_form {
  box-shadow: 0 2px 3px rgba(33,33,33,.2); 
  transition: box-shadow 200ms ease-in; 
  @apply border border-gray-200 w-auto h-12 rounded-lg px-3 my-1 flex flex-row-reverse justify-end gap-x-3 items-center md:w-96;
}
.search_form:hover {
  box-shadow: 0 3px 6px rgba(33,33,33,.2); 
}

.yxt-SearchBar {
  @apply w-full;
}

.js-yext-query {
  @apply w-full;
}

.yxt-SearchBar-input {
  @apply bg-transparent focus:outline-none;
}

.yxt-SearchBar-clear {
  display: none;
}

.yxt-SearchBar-button {
  display: none;
}

.sr-only {
  display: none;
}


/* Top-level Tag Styling */

ul {
  list-style: inside;
}

a {
  color: #008489;
  text-decoration: underline; 
}

.airbnb-link {
  @apply text-airbnb-font no-underline;
}

body {
  @apply bg-gray-50 font-body;
}

h1 {
  @apply text-3xl font-bold text-airbnb-font;
}

h2 {
  @apply text-2xl font-bold text-airbnb-font;
}

h3 {
  @apply text-lg font-bold;
}

h4 {
  @apply text-lg font-bold;
}

h5 {
  @apply text-md font-bold;
}

/* Help Buttons */
.btn {
  @apply border w-auto border-black rounded-lg px-4 py-1 hover:bg-gray-100 hover:cursor-pointer;
}

.svg-link {
  @apply flex gap-x-2;
}

/* Header Styline */

.topnav #myLinks {
  display: none;
}
.headerLink {
  @apply flex gap-x-2 hover:border-b-2 border-black;
}

/* Topic Styling */
.topic-item {
  @apply flex;
}

/* Breadcrumb Styling */
.bc-link {
  @apply flex gap-x-2 px-2 underline font-semibold hover:cursor-pointer;
}

/* Related Article Cards */
.article-card {
  @apply p-6 border rounded-lg shadow-lg gap-y-3 text-airbnb-font no-underline hover:cursor-pointer flex flex-col justify-between;
}

.article-svg {
  @apply flex space-x-2 mt-2 text-airbnb-gray text-sm font-semibold;
}

/* Help Buttons */
.help-btn {
  @apply border w-14 border-black rounded-lg px-3 py-1 hover:bg-gray-100 hover:cursor-pointer;
}


.centered-container {
  @apply mx-auto px-5 md:px-14 max-w-screen-xl;
}

.skeleton {
  @apply bg-gray-300 animate-pulse rounded-sm;
}

h2.section-header {
  @apply border-b pb-2 mb-3;
}

.section {
  @apply mt-8 mb-8;
}





@tailwind utilities;
